		<footer class="uk-section uk-container-expand uk-height-small uk-dark">
			<div class="uk-flex uk-flex-center">
				{{! checks if any menu is assigned to the Footer menu position }}
				{{#if menus.footerMenu}}
					{{> social menus.footerMenu}}
				{{/if}}
				{{! /checks if any menu is assigned to the Footer menu position }}
			</div>
		</footer>
	</body>
</html>
