{{! Posts listing }}
<div class="uk-grid-small uk-child-width-1-2@m" uk-grid uk-height-match=".uk-card-body > p">
	{{#each posts}}
		{{#unless isHidden}}
			{{#if ../featuredOnly }}
				{{#if isFeatured }}
					{{#checkIf template '!=' "portfolio"}}
						{{> post-card post=. }}
					{{/checkIf}}
				{{/if}}
			{{else}}
				{{#checkIf template '!=' "portfolio"}}
					{{> post-card post=. }}
				{{/checkIf}}
			{{/if}}
		{{/unless}}
	{{/each}}
</div>
{{! /Posts }}
