{{! loop generating a list of social items }}
{{! We use SimpleIcons for the brands: https://simpleicons.org/ }}

<ul class="uk-iconnav" uk-scrollspy="target: > li; cls: uk-animation-slide-right; delay: 500">
    {{#each items}}
        <li>
            <a href="{{link}}" target="{{target}}" uk-tooltip="{{title}}">
                <img height="64" width="64" src="https://cdn.simpleicons.org/{{label}}/f626eed9">
            </a>
        </li>
    {{/each}}
</ul>
{{! /loop generating a list of social items }}
