{{! Author page }}

{{> head}}
{{> navbar}}

{{#author}}
<div
	class="uk-section uk-background-cover uk-background-top-right"
	style="background-image: url({{asset "images/about-me-image.png"}})"
	uk-height-viewport="expand: true"
	uk-scrollspy="cls: uk-animation-fade"
>
	<a id="about-me"></a>

	<div
		class="uk-container uk-container-expand"
		uk-height-match=".uk-overlay-primary > div"
	>
		<div class="uk-grid-large uk-child-width-1-2@m" uk-grid>
			<div>
				<div
					class="uk-padding uk-overlay-primary"
					uk-scrollspy="cls: uk-animation-slide-left; delay: 500"
				>
					<h2 class="uk-heading-divider">{{name}}</h2>
					<div class="uk-hidden@m">{{{description}}}</div>
					<div class="uk-visible@m uk-text-large">{{{description}}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/author}}

{{> footer}}
