{{! Author page }}

{{> head}}
{{> navbar}}

{{#author}}
<div
	class="uk-section"
	uk-scrollspy="cls: uk-animation-fade"
>
	<div class="uk-container">
		<div class="uk-grid-large uk-child-width-expand@s uk-flex-center" uk-grid>
			<div
				class=""
				uk-scrollspy="cls: uk-animation-slide-left; delay: 500"
			>
				<h2 class="uk-heading-divider">{{name}}</h2>
				<div class="uk-hidden@m">{{{description}}}</div>
				<div class="uk-visible@m">{{{description}}}</div>
			</div>
			<div class="">
				<img  class="uk-align-center" src="{{asset "images/about-me-image.webp"}}" />
			</div>
		</div>
	</div>
</div>
{{/author}}

{{> footer}}
