{{! Front page; this file renders a front page with a list of the latest posts }}

{{> head}}
{{> navbar}}

<div class="uk-container-expand">
    <div class="uk-inline">
        <img src="./assets/images/about-me-image.png" alt="">
        <div class="uk-overlay uk-overlay-primary uk-position-large uk-position-top-left uk-width-xlarge">
            <h1 class="uk-heading-bullet">Hey ! I'm Luci.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id leo in vitae turpis. Cras sed felis eget velit. Suspendisse interdum consectetur libero id. Dolor sit amet consectetur adipiscing elit duis tristique sollicitudin nibh. Et egestas quis ipsum suspendisse ultrices gravida dictum. Egestas pretium aenean pharetra magna ac placerat vestibulum. Nec ultrices dui sapien eget mi proin sed libero enim. Sodales ut eu sem integer vitae justo. Diam sit amet nisl suscipit adipiscing. Hendrerit dolor magna eget est. Massa sapien faucibus et molestie. In nisl nisi scelerisque eu ultrices. Elementum pulvinar etiam non quam lacus. In massa tempor nec feugiat nisl. Vel orci porta non pulvinar neque. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Donec ac odio tempor orci dapibus ultrices in iaculis nunc.</p>
        </div>
    </div>
</div>

<!--
<main class="uk-container uk-width-large">
    <div>
        <aside>
            {{> sidebar}}
        </aside>

        {{> pagination}}
    </div>
</main>

{{> footer}}
-->
