{{! Front page; this file renders a front page with a list of the latest posts }}

{{> head}}
{{> navbar}}

<a id="about-me"></a>

<div class="uk-section-default">
    <div class="uk-section uk-light uk-background-cover uk-background-top-right" style="background-image: url({{asset "images/about-me-image.png"}})" uk-scrollspy="cls: uk-animation-fade">

        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            {{! Hero }}
            <div>
                <div class="uk-container uk-overlay-primary" uk-scrollspy="cls: uk-animation-slide-left; delay: 500">
                    <h2 class="uk-heading-divider">{{@config.custom.heroTitle}}</h2>
                    <div class="uk-hidden@m">{{{@config.custom.heroBody}}}</div>
                    <div class="uk-visible@m uk-text-large">{{{@config.custom.heroBody}}}</div>
                </div>
            </div>
            {{! /Hero }}
        </div>

    </div>
</div>

{{> footer}}

<!--
<main class="uk-container uk-width-large">
    <div>
        <aside>
            {{> sidebar}}
        </aside>

        {{> pagination}}
    </div>
</main>
-->
