{{! This template is used to sdescribe a picture from the portfolio }}
{{> head}}
{{> navbar}}

{{#post}}
<div class="uk-section" uk-height-viewport="expand: true">
    <div class="uk-container">
        <a href="../index.html#readings">← Go back</a>
        <h1>{{title}}</h1>
        {{{text}}}
    </div>
</div>
{{/post}}

{{> footer}}
