/*====
FONT FACES
====*/

@import url(https://fonts.bunny.net/css?family=acme:250);

@font-face
{
    font-family: "Basteleur Moonlight";
    src: url("../fonts/Basteleur-Moonlight.woff2") format("woff2");
}

@font-face
{
    font-family: "Basteleur Bold";
    src: url("../fonts/Basteleur-Bold.woff2") format("woff2");
}

@font-face
{
    font-family: "Optiker-K";
    src: url("../fonts/Optiker-K.woff2") format("woff2");
}

/*====
VARIABLE OVERRIDES
====*/

$global-font-size: 18px !default;
$global-background: #000000 !default;
$global-color: #f626eed9 !default;
$global-emphasis-color: #f626eed9 !default;
$global-font-family: "Acme", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$global-secondary-background: #691066d9 !default;
$navbar-background: #000 !default;

/*====
MAIN IMPORTS
====*/

@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../../node_modules/uikit/src/scss/uikit-theme.scss";

/*====
STYLE OVERRIDES
====*/

body, a {
    cursor: url(../images/coeurseur-mini.png), auto !important;
}

h1.uk-article-title {
    font-family: "Basteleur Moonlight";
    color: rgba(0, 255, 53, 0.85) !important;
}

h2, h3 {
    font-family: "Basteleur Bold";
}

.uk-overlay-primary h1 {
    color: $global-emphasis-color;
}

footer {
    background-color: $navbar-background;
}

.uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle {
    min-height: 0 !important;
}

/* IMAGES */

[class*='post__image'] > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: $align-margin-vertical;
    width: auto;
    height: 250px;
}

/* Phone landscape and bigger */
@media (min-width: $breakpoint-small) {

    [class*='post__image'] > img {
        height: 350px;
    }

}

/* Tablet landscape and bigger */
@media (min-width: $breakpoint-medium) {

    [class*='post__image'] > img {
        height: 450px;
    }

}

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    [class*='post__image'] > img {
        height: 550px;
    }

}

/* Large screen and bigger */
@media (min-width: $breakpoint-xlarge) {

    [class*='post__image'] > img {
        height: 650px;
    }

}
